.create-password__title {
  font-size: getFontSize('xx-large');
  color: getColor('grey.100');;
  margin-bottom: 24px;
}

.create-password__description {
  font-size: getFontSize('normal');
  margin-bottom: 25px;
}

.create-password__bottom {
  margin: 40px 0;
}
