.start-over{
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.2px;
    color: #495057;
    text-align: center;
    padding: 10px;
}

.create-user{
    font-size: 1rem;
    font-weight: 700;
    line-height: 19.2px;
    color: #B91F56;
    cursor: pointer;
}
.button{
    padding-top: 10px;
}
