.reset-password__wrapper {
  max-width: 540px;
  margin: 0 auto;
  padding: 40px 1rem 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password {
  width: 100%;

  & .error-message {
    margin: 8px 0px 2px;
  }
}

.reset-password__title {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 24px;
}

.reset-password__description {
  margin-bottom: 16px;
  line-height: 20px;
}

.reset-password__input-wrapper {
  margin-bottom: 10px;
}

.reset-password__submit {
  margin: 36px 0px 16px;
}

.reset-password__back {
  text-transform: initial;
  color: getColor('grey.100') !important;
}
